<div class="content">
    <div app-head></div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Modbus安全协议栈配置与监控界面</h4>
        </div>
        <div class="panel-body">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                           aria-expanded="false" aria-controls="collapseInput" class="glyphicon glyphicon-cog" ng-click="config_bool = !config_bool">
                            配置
                        </a>
                    </h4>
                </div>
                <div id="collapseInput" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" ng-show="config_bool"m>
                    <div class="alert alert-info" role="alert">
                        <strong>配置方法</strong>
                        <div>选择限制的功能，完成后选择发送</div>
                    </div>

                    <div class="panel-body">
                        <div id="modbus_container" style="padding-left:12px;padding-right:12px;padding-bottom: 12px;"></div>
                        <div class="panel-footer">
                            <button class="btn btn-primary" id="btn1">显示</button>
                            <button class="btn btn-primary" id="btn2">验证</button>
                            <button class="btn btn-primary" id="btn3">发送</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed glyphicon glyphicon-eye-open" id="formLink" role="button"
                           data-toggle="collapse" data-parent="#accordion" aria-expanded="false"
                           aria-controls="collapseForm" ng-click="moniter_bool = !moniter_bool">
                            监视
                        </a>
                    </h4>
                </div>
                <div id="collapseForm" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo" ng-hide="moniter_bool">
                    <div class="alert alert-info" role="alert">
                        <strong>监控界面</strong>
                        <div>每当设备收到不符合配置的数据包，信息将显示</div>
                    </div>
                    <div id='modbus_container' style="padding-left:12px;padding-right:12px;padding-bottom: 12px;">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="col-check"></th>
                                <th>Index</th>
                                <th>Time</th>
                                <th>Message</th>
                                <th>Code</th>
                            </tr>
                            </thead>
                            <tbody id="modbus_monitor">
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script src="/js/event.js"></script>-->
<!--</body>-->

<!--</html>-->
